// Light Mode
$color-bg-light: #FFFCF5;  // Cloud
$color-text-light: #374375; // Navy
$color-accent-light: #BABDE2; // Periwinkle
$color-secondary-light: #895159; // Maroon
$color-highlight-light: #DFAEA1; // Peach

// Dark Mode
$color-bg-dark: #2A2D45; // Mörkare Navy
$color-text-dark: #FFFCF5; // Cloud
$color-accent-dark: #8C8FB0; // Mörkare Periwinkle
$color-secondary-dark: #6A3E3E; // Mörkare Maroon
$color-highlight-dark: #C28878; // Mörkare Peach
